.App {
  text-align: center;
}
.aboutme_photo{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
p{
  width:500px;
}
.menu{
  display:flex;
  flex-direction: column;
  background-color: green;
  height: 900px;
}
.wrapperforthebody{
  display: flex;
  flex-direction: row;
  
}
.routeclass{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

